*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: sans-serif;
    border: none;
}

html{
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    height: 80px;
    width: 100%;
    background:white;
    box-shadow: 1px 1px 15px silver;
    z-index: 1;
}

nav label{
    font-size: 30px;
    padding: 0px 80px;
    line-height: 80px;
    letter-spacing: -1px;
    color:#0089f2;
    user-select: none;
    font-weight: 600;
}


nav ul{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 80px;
    display: flex;
    margin-right: 50px;
}

nav ul li{
    margin: 0px 5px;
}

nav ul li a:hover{
    color: grey;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
}

nav ul li a{
    color: #0089f2;
    box-shadow: inset 0 0 5px #0a87f5,
                inset 0 0 10px #85c3fa,
                inset 0 0 15px #b6dbfc;
}

.content{
    position: absolute;
    top: 100px;
    padding: 0px 80px;
}

.content h1{
    font-size: 50px;
}

.content p{
    font-size: 18px;
    padding: 10px 0;
    text-align: justify;
    text-transform: capitalize;
}


.content h2{
    font-size: 45px;
}

.content ul {
    padding: 0px 0px 10px 30px;
}

.content ul li{
    font-size: 20px;
    list-style:disc;
}

center{
    color: #0089f2;
    font-size: 30px;
    margin: 20px;
}