*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
  
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0px 16px;
}

.button{
    width: 450px;
  box-shadow: 0px 14px 28px rgba(0,0,0,.1),
               0px 10px 10px rgba(0,0,0,.2) ;

}

.button button{
    background: #2573a7;
    padding: 15px 16px;
    font-size: 28px;
    color: white;
    border: 1px solid #206592;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

form{
    display: flex;
    flex-flow: row wrap;
    background: #1c567d;
    padding: 20px;
    border-radius: 5px;
}

form input{
    padding: 12px;
    border-radius:3px;
}


form input[type="email"]{
    flex: 1;
    font-size: 18px;
    transition: 0.4s;
}


form input[type="email"]:focus{
    border: 1px solid #206592;
}

form input[type="submit"]{
    color: white;
    cursor: pointer;
    font-size: 17px;
    padding: 0px 15px;
    margin: 0px 0px 0px 20px;
    background: linear-gradient(#2980b9,#206592);
    border: 1px solid #1c567d;
}

form input[type="submit"]:hover{
    background: linear-gradient(#2e90d1,#206592);
}

@media (max-width:600px) {
    form{
        flex-flow:row wrap;
    }

    form input{
        padding: 14px !important;
        margin:0px !important;
        flex: 100%;
    }

    form input[type="submit"]{
         margin-top: 14px !important;
         font-size: 20px;

    }
}

form.hide{
    display: none;
}