*{
    padding: 0;
    margin: 0;
}

nav{
    height: 85px;
    border-bottom: 1px solid silver;
}

nav label{
    line-height: 85px;
    padding: 0px 80px;
    font-size: 35px;
    color: #0d0d0d;
    font-family: sans-serif;

}

label span{}